  <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">admin manage system</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
               
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="{:url('/admin/Login/logout')}"><i class="fa fa-sign-out fa-fw"></i>logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="{:url('/admin/Index/index')}"><i class="fa fa-dashboard fa-fw"></i>index</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-table fa-fw"></i>order manage<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="{:url('/admin/Order/create')}">add</a>
                                </li>
                                <li>
                                    <a href="{:url('/admin/Order/index')}">manage</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-edit fa-fw"></i>sample manage<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="{:url('/admin/Sample/create')}">add</a>
                                </li>
                                <li>
                                    <a href="{:url('/admin/Sample/index')}">manage</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-wrench fa-fw"></i> payment manage<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="{:url('/admin/Pay/create')}">add</a>
                                </li>
                                <li>
                                    <a href="{:url('/admin/Pay/index')}">manage</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-files-o fa-fw"></i> admin manage<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="{:url('/admin/User/create')}">add</a>
                                </li>
                                <li>
                                    <a href="{:url('/admin/User/index')}">manage</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>